<%- include('./common/header.ejs') %>
<%- include('./common/sidebar.ejs') %>

<main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Category</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Category</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row g-4">
              <!--begin::Col-->
              
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-6">
                <!--begin::Quick Example-->
                <div class="card card-primary card-outline mb-4">
                  <!--begin::Header-->
                  <div class="card-header"><div class="card-title">Add Category</div></div>
                  <!--end::Header-->
                  <!--begin::Form-->
                  <form name="frm" method="post" action="/category/add">
                    <input type="hidden" name="catid" value="<%= (editcat!='')?editcat._id.toString():''%>">
                    <!--begin::Body-->
                    <div class="card-body">
                      <div class="mb-3">
                        <label class="form-label">Category Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="exampleInputEmail1"
                          aria-describedby="emailHelp"
                          name="catname"
                          value="<%= (editcat!='')?editcat.catname:''%>"
                        />
                        
                      </div>
                      
                    </div>
                    <!--end::Body-->
                    <!--begin::Footer-->
                    <div class="card-footer">
                      <button type="submit"  class="<%= (editcat!='')? 'btn btn-warning' : 'btn btn-primary' %>"><%= (editcat!='')?'Update':'Save'%></button>
                    </div>
                    <!--end::Footer-->
                  </form>
                  <!--end::Form-->
                </div>
                <!--end::Quick Example-->
                
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-md-6">
                <div class="card mb-4">
                  <div class="card-header"><h3 class="card-title">Category List</h3></div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="width: 10px">ID</th>
                          <th>Category</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% alldata.map((i,_id)=>{ %>
                          <tr>
                            <td><%= _id + 1 %></td>
                            <td><%= i.catname%></td>
                            <td>
                              <a href="/category/edit/<%= i._id%>" class="btn btn-primary">Edit</a>
                              <a href="/category/del/<%= i._id%>" class="btn btn-danger">Delete</a>
                            </td>
                          </tr>
                        <% })%>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                  
                </div>
                <!-- /.card -->
               
                <!-- /.card -->
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      </main>
<%- include('./common/footer.ejs') %>